* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

li {
    list-style-type: none;
}

canvas {
    display: block;
}

input,
button,
textarea,
select {
    margin: 0;
    font: inherit;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6, {
    font-weight: 300;
}