:root {
    --font-family-text-redesigned: 'Comfortaa', sans-serif;
    --font-family-header-redesigned: 'Comfortaa', sans-serif;

    // old
    // s
    --font-size-s: 12px;
    --font-line-s: 20px;

    // m
    --font-size-m: 20px;
    --font-line-m: 24px;

    // l
    --font-size-l: 24px;
    --font-line-l: 32px;

    // xl
    --font-size-xl: 32px;
    --font-line-xl: 40px;

    // new
    // s
    --font-s-redesigned: var(--font-size-s) / var(--font-line-s) var(--font-family-text-redesigned);

    // m
    --font-m-redesigned: var(--font-size-m) / var(--font-line-m) var(--font-family-text-redesigned);

    // l
    --font-l-redesigned: var(--font-size-l) / var(--font-line-l) var(--font-family-header-redesigned);

    // xl
    --font-xl-redesigned: var(--font-size-xl) / var(--font-line-xl) var(--font-family-header-redesigned);
    --modal-z-index: 10;
    --overlay-color: rgba(0 0 0 / 60%);
    --red-light: #f00;
    --red-dark: #820202;
}
