.title {
    text-decoration: underline 4px;
    text-underline-offset: 6px;
    justify-content: space-between;
    display: flex;
    text-align: center;
}

.bioPart {
    p {
        line-height: 1.7em;
        text-align: justify;
    }
}
