.app_dark_theme {
    transition: 0.2s linear;

    --dark-bg: #090F11;
    --bg: #0C1214;
    --light: #151C1F;
    --text: #DBDBDB;
    --hint: #555;
    --cancel: #D95757;
    --save: #6CD98B;
    --icon: #74A2B2;
    --accent: #5ED3F3;
}
