.app_light_theme {
    transition: 0.2s linear;

    --dark-bg: #f0e7db;
    --bg: #f4ede4;
    --light: #E2EEF1;
    --text: #141C1F;
    --hint: #ADBCC0;
    --cancel: #F77;
    --save: #62DE85;
    --icon: #ff8282;
    --accent: #00C8FF;
}

