.InputWrapper {
    transition: 0.5s;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border: 2px solid var(--icon-redesigned);
    border-radius: 48px;
    width: 100%;
}

.focused {
    border-color: var(--accent);

    .addonRight svg,
    .addonLeft svg {
        color: var(--accent)
    }
}

.withAddonLeft {
    padding-left: 8px;
}

.withAddonRight {
    padding-right: 8px;
}

.addonRight,
.addonLeft {
    display: flex;
}

.input {
    border: none;
    outline: none;
    width: 100%;
    color: var(--text);
    background: none;

    &::placeholder {
        color: var(--hint);
    }
}

.readonly {
    opacity: 0.7;
}

.s {
    height: 32px;
}

.m {
    height: 38px;
}

.l {
    height: 44px;
}
