.mainStackInfo {
    @media screen and (max-width: 450px) {
        width: 300px;
    }
}

.bio {
    @media screen and (max-width: 450px) {
        width: 300px;
    }

    p {

        line-height: 1.5em;
    }
}

.nameWithPhoto {
    padding-top: 10px;
}

.greeting {
    text-align: center;
}

.links {
    @media screen and (max-width: 450px) {
        svg {
            padding-left: 5px;
        }
    }
}

.newFoto {
    border-right: 2px solid var(--accent);
    min-width: 62px;
    min-height: 22.5%;
}

.oldFoto {
    border-left: 2px solid var(--accent);
    min-width: 62px;
    min-height: 22.5%;
}

.miniInfo {
    padding: 10px;
    fill: var(--icon);
}